.contacts-info {
  margin: 0 auto;

  div {
    margin: 2rem auto;
    text-align: left;
  }

  img {
    height: 2rem;
    // margin-left: 1rem;
    margin-bottom: -0.7rem;
    margin-right: 1.3rem;
  }
}

@media (min-width: 500px) {
  .contacts-info {
    width: 90%;
  }
}
@media (min-width: 1024px) {
  .contacts {
    display: flex;
  }
  .contacts-info {
    width: 45%;
  }
  .contacts-form {
    width: 55%;
  }
}
