body {
  max-width: 1900px;
  margin: 0 auto;
}
main {
  background-color: $white;
  color: $gray-900;
}
a {
  cursor: pointer;
}

h2 {
  @media screen and (min-width: 1024px) {
    font-size: $text-3xl;
  }
}

.container {
  width: 90%;
  display: flex;
  flex-direction: column;

  margin: 0 auto;
  @media screen and (min-width: 1024px) {
    width: 80%;
  }
}
footer > p {
  font-size: 0.4rem;
}
