body {
  max-width: 1900px;
  margin: 0 auto;
}
main {
  background-color: $white;
  color: $gray-900;
}
a {
  cursor: pointer;
}

h2 {
  @media screen and (min-width: 1024px) {
    font-size: $text-3xl;
  }
}

.container {
  width: 90%;
  display: flex;
  flex-direction: column;

  margin: 0 auto;
  @media screen and (min-width: 1024px) {
    width: 80%;
  }

  // .description {
  //   text-align: center;
  //   font-size: $text-lg;
  //   padding: 80px 20px;
  //   @media screen and (min-width: 768px) {
  //     padding: 100px 120px;
  //   }
  //   @media screen and (min-width: 1024px) {
  //     padding: 120px 140px;
  //   }
  // }
}
