main {
  background-color: $gray300;
  color: $gray900;
}
a {
  cursor: pointer;
}

.hero {
  width: 100%;
  height: 100vh;

  .hero-image {
    height: 100%;
    width: 100%;
  }
}

h2 {
  @media screen and (min-width: 1024px) {
    font-size: $xl-size;
  }
}

.container {
  width: 90%;
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  // background-color: $gray200;

  margin: 0 auto;
  @media screen and (min-width: 1024px) {
    width: 80%;
  }

  .description {
    text-align: center;
    font-size: $ms-size;
    padding: 80px 20px;
    @media screen and (min-width: 768px) {
      padding: 100px 120px;
    }
    @media screen and (min-width: 1024px) {
      padding: 120px 140px;
    }
  }

  .about-grid {
    margin-top: 60px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, auto);
    grid-template-areas:
      "h2"
      "p";
    @media screen and (min-width: 640px) {
      grid-template-columns: 1fr 1.5fr;
      grid-template-rows: repeat(2, auto);
      grid-template-areas:
        "h2 ."
        ". p";
      margin-top: 80px;
    }
    h2 {
      grid-area: h2;
      @media screen and (min-width: 640px) {
        margin-bottom: 0;
        text-align: end;
      }
    }
    p {
      grid-area: p;
    }
  }
}
