/**********
* COLOURS *
***********/

$gray100: #f7fafc;
$gray200: #edf2f7;
$gray300: #e2e8f0;
$gray400: #cbd5e0;
$gray500: #a0aec0;
$gray600: #718096;
$gray700: #4a5568;
$gray800: #2d3748;
$gray900: #1a202c;

/*************
* FONT SIZES *
*************/
$xs-size: 10px;
$s-size: 12px;
$sm-size: 16px;
$m-size: 18px;
$ms-size: 20px;
$ml-size: 26px;
$l-size: 32px;
$xl-size: 42px;
$xxl-size: 54px;
